@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);


li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
}

body{

}
.wrapper{
    
}